<!DOCTYPE html>
<html>
<head>
  <title>Đăng ký khóa học thành công</title>
</head>
<body>
  <h1>Chào {{name}},</h1>
  <p>Bạn đã đăng ký thành công khóa học với mã khóa học: {{courseId}}.</p>
  <p>Mã người dùng của bạn là: {{userId}}.</p>
  <p>Chúc bạn học tập tốt!</p>
  <p>Trân trọng,</p>
  <p>Đội ngũ hỗ trợ</p>
</body>
</html>
